*.iml
.gradle/
build/
.idea/
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.hprof
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/
dist/
build/
*.DS_Store
