<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.bonnie.vta.provider.VtaSdkInitProvider"
            android:authorities="\${applicationId}.vta-init"
            android:exported="false"
            android:initOrder="99" />

        <provider
            android:name="com.bonnie.vta.provider.VtaProvider"
            android:authorities="${applicationId}.vta"
            android:exported="true" />
    </application>

</manifest>
